#schedule .menu {
  background: #9e9e9e;
}

#schedule .menu-item {
  padding: 20px;
  cursor: pointer;
}

#schedule .menu-item:hover {
  background: #50afdc;
}

#schedule .menu-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#schedule .content {
  padding: 30px;
}

/* Media query */
/* Cuando la resolución sea mínimo 768px (>768) */
@media (min-width: 768px) {
  #schedule, .menu {
    height: 100%;
  }

  #schedule, .content {
    /* overflow => si recortar contenido, dibujar barras de desplazamiento */
    overflow: auto;
  }
}

/* Cuando la resolución sea máximo 768px (<768) */
@media (max-width: 768px) {
  #schedule, .content {
    /* overflow => si recortar contenido, dibujar barras de desplazamiento */
    overflow: hidden;
  }
}
